main {
  margin-left: 8rem;

  max-width: calc(100% - 8rem);
  /* padding: 20px; */
}
/* svg.page-icon circle {
  fill: #e3e9ed;
}
svg.page-icon path {
  fill: #275373;
}
svg.page-icon line {
  stroke: #275373;
} */
@media only screen and (max-width: 768px) {
  main {
    margin: 0px;
    max-width: 100vw;
    margin-bottom: 7rem;
  }
}

.SwalOwnTitle {
  color: #275373;
  letter-spacing: 1px;
  font-weight: 700;
}
.SwalOwnText {
  color: #275373;
  font-weight: 600;
}
.SwalOwnPopup {
  border-radius: 2px;
}
